exportPattern("^[[:alpha:]]+")
importFrom("methods", "new")
importFrom("ncdf4", "nc_open", "ncatt_get", "nc_close", "ncvar_get")
importFrom("maps", "map")
importFrom("stats", "reshape")
importFrom("PBSmapping", "convCP", "plotMap", "addLines")
importFrom("grDevices", "contourLines", "colorRampPalette", "heat.colors", "rgb")
importFrom("splancs", "getpoly", "inout")
importFrom("sp", "plot", "degAxis")
importFrom("geosphere", "distRhumb", "distGeo")
importFrom("graphics", "locator", "abline", "arrows", "axis", "box", "layout", "matlines", "mtext", "par", "polygon", "rect", "text", "image")
importFrom("lubridate", "quarter", "semester")
S3method(plot, satin)
S3method(print, satin)